/* Container para centralizar e alinhar os itens 
- display: flex; - para alinhar os itens
- flex-direction: row; - para alinhar os itens em linha
- align-items: center; - para alinhar os itens no centro
- justify-content: space-between; - para alinhar os itens no espaço entre eles
- box-shadow: - sombra no container
- padding: 1.1rem; - espaçamento interno do container 
*/

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.1rem ;
}

/**/

/*Container de navegação para alinhar os itens
- display: flex; - para alinhar os itens
- flex-direction: row; - para alinhar os itens em linha
*/
.nav-container {
    display: flex;
    flex-direction: row;
}

/*Estilização das logos no menu
- width: 18rem; - largura da imagem
*/
.logo-sejusp {
    width: 18rem;
}

.logo-dirjusp {
    width: 18rem;
}

/*Estilização da fonte na navegação
- font-size: 1.5rem; - tamanho da fonte
- margin-left: 2rem; - margem a esquerda
- text-decoration: none; - sem decoração
- color: - cor da fonte
- font-family: 'Roboto', sans-serif; - fonte da família Roboto
- transition: color 0.3s ease; - transição de cor ao passar o mouse
*/
.nav-font {
    font-size: 1.5rem;
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease;
}

/*Estilização da fonte na navegação ao passar o mouse
- color: - cor da fonte ao passar o mouse
*/  
  .nav-font:hover {
    color: rgb(24, 170, 19);
  }
  
  /* Estilo para o link ativo 
  - font-weight: bold; - negrito
  - border-bottom: 0.2rem solid green; - borda inferior de 0.2rem sólida verde
  */

  .active {
    font-weight: bold;
    border-bottom: 0.2rem solid green;
  }
  

